html, body {  /* reset the user agent setting*/
    margin: 0;
    padding: 0;
}

/* header */
#header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  display: block;
  color: rgb(26, 24, 24);
  background-color: rgb(255, 255, 255);
  position: fixed;
}

#nav-bar {
  padding: 0 5%;
  height: 100%;
}

#nav-bar li {
  display: inline;
  font-family: "Fredoka One", sans-serif;
  color: rgb(59, 59, 59);
  height: 100%;
}

#nav-bar a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}

#nav-bar a:hover {
  color: rgba(59, 59, 59, 0.7);
}

#nav-bar a:visited {
  color: rgb(59, 59, 59);
}

#nav-list-left {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 100px;
  float: left;
}

#nav-list-left li{
  font-size: 1.5em;
  padding: 0 5px;
}

#img-wrapper {
  display: inline;
  height: 100%;
}

#header-img {
  padding: 10px;
  height: 80%;
  float: left;
}

/* responsive bigger than mobile and lower than tablet size */
@media (min-width: 577px) and (max-width: 768px) {
  #nav-list-left li {
    font-size: 1em;
  }
  #header-img {
    height: 50%;
    padding: 25px 10px;
  }
}

#nav-list-right {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 100px;
  float: right;
}

#nav-list-right li {
  padding: 15px;
  font-size: 1.2em;
}


/* Main */
#main {
  width: 100%;
  background-color: rgba(73, 186, 111, 1); /* for testing the layout only, can delete once is done */
  color: rgb(255, 255, 255);
}

#section-hero {
  padding-top: 100px;  /* avoid nav-bar cover the top content of section-hero */
  width: 100%;
  height: 800px;
  background-color: rgb(140, 217, 255);
  color: rgb(255, 255, 255);
}

#hero-wrapper {
  margin: 0 auto;
  width: 80%;
  height: 600px;
  display: grid;
  grid-template-columns: 40% 60%;
  color: rgb(37, 37, 37);
  font-family: Roboto, sans-serif;
}

.left-hero {
  margin: 0 auto;  /* centralise the image */
  padding: 200px 20px 20px;
}

.right-hero {
  padding: 200px 20px 20px;
  text-align: left;
}

#hero-intro-title {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}

#hero-intro-description {
  margin: 0;
  padding: 1em 0 1em;
  font-size: 1em;
}

#main-wrapper {
  margin: 0 auto;
  width: 80%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);  /* for testing the layout only, can delete once is done */
  text-align: center;
}

#section-feature {
  width: 100%;
  background-color: rgb(251, 100, 122)
}

#feature-list {
  margin: 0px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

.feature-item {
  padding: 40px 20px;
  display: flex;
  list-style-type: none;
  text-align: left;
}

.feature-icon img {
  padding: 20px 0;
  width: 100px;
}

.feature-desc {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

#section-video {
  margin: 50px auto;
  width: 80%;
  text-align: center;
}

iframe {
  width: 640px;
  height: 390px;
}

#section-pricing {
  margin: 0 auto;
  padding: 150px 0;
  width: 100%;
  background-color: rgb(103, 189, 251);  /* delete after testing */
}

#section-pricing-title {
  color: rgb(59, 59, 59);
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Fredoka One", sans-serif;
}

#pricing-wrapper {
  padding: 50px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pricing-item {
  padding: 10px 5px;
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 400px;
}

#section-form {
  padding: 100px 10px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

#section-form-title {
  font-size: 2.5em
}

#section-form label {
  display: block;
  font-size: 1.5em;
}

#section-form input {
  margin: 10px 5px;
  padding: 10px;
}

@media (max-width: 787px) {
  #section-form input {
    display: block;
    margin: 10px auto;
  }
}

#email {
  min-width: 300px;
  border: solid 1px #ccc;
  border-radius: 2px;
  font-size: 1em;
}

#submit {
  width: 100px;
  border: solid 1px rgb(103, 189, 251);
  border-radius: 3px;
  color: rgb(251, 251, 251);
  background-color: rgb(103, 189, 251);
  font-size: 1em;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(66, 172, 251);
}

/* Footer */
#footer {
  margin:0 auto;
  padding: 40px 0;
  width: 100%;
  height: 100px;
  color: white;
  background-color: rgb(107, 236, 96);
  text-align: center;
}
