html, body {  /* reset the user agent setting*/
    margin: 0;
    padding: 0;
}

#header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  display: block;
  color: rgb(26, 24, 24);
  background-color: rgb(255, 255, 255);
}

#nav-bar {
  height: 100%;
  padding: 0 5%;
}

#nav-bar li {
  display: inline;
  font-family: "Fredoka One", sans-serif;
  color: rgb(59, 59, 59);
  height: 100%;
}

#nav-bar a {
  text-decoration: none;
}

#nav-bar a:hover {
  color: rgba(59, 59, 59, 0.7);
}

#nav-bar a:visited {
  color: rgb(59, 59, 59);
}

#nav-list-left {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 100px;
  float: left;
}

#nav-list-left li{
  font-size: 1.5em;
}

#header-img {
  height: 100px;
}

#company-title {
}

#nav-list-right {
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 100px;
  float: right;
}

#nav-list-right li {
  padding: 15px;
  font-size: 1.2em;
}


/* Main */
#main {
  width: 100%;
  background-color: rgba(73, 186, 111, 1);
  color: rgb(255, 255, 255);
}

#section-hero {
  width: 100%;
  height: 400px;
  background-color: rgb(50, 115, 67);
  color: rgb(255, 255, 255);
}

#main-wrapper {
  margin: 0 auto;
  width: 80%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);  /* for testing the layout only, can delete once is done */
  text-align: center;
}

#section-form {
  height: 100px;
  background-color: rgb(56, 182, 244);
}

#section-feature {
  width: 100%;
  height: 400px;
  background-color: rgb(251, 100, 122)
}

#feature-list {
  display: flex;
  justify-content: center;
}

#section-video {
  margin: 0 auto;
  width: 80%;
  height: 300px;
  text-align: center;
  background-color: rgb(177, 108, 246);
}

#section-pricing {
  margin: 0 auto;
  width: 80%;
  height: 400px;
  background-color: rgb(251, 147, 103)
}

#footer {
  margin:0;
  width: 100%;
  height: 100px;
  color: white;
  background-color: black;
  text-align: center;
}
