html, body {  /* reset the user agent setting*/
    margin: 0;
    padding: 0;
}

#header {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100px;
  display: block;
  color: rgb(26, 24, 24);
  background-color: rgb(255, 255, 255);
}

#header-img{
  margin: 0;
  padding: 20px;
  float: left;
}

#nav-bar ul {
  margin: 0;
  padding: 20px;
  float: right;
}

#nav-bar li {
  display: inline;
}

/* Main */
#main {
  width: 100%;
  background-color: rgba(73, 186, 111, 1);
  color: rgb(255, 255, 255);
}

#section-hero {
  width: 100%;
  height: 400px;
  background-color: rgb(50, 115, 67);
  color: rgb(255, 255, 255);
}

#main-wrapper {
  margin: 0 auto;
  width: 80%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);  /* for testing the layout only, can delete once is done */
  text-align: center;
}

#section-form {
  height: 100px;
  background-color: rgb(56, 182, 244);
}

#section-feature {
  width: 100%;
  height: 400px;
  background-color: rgb(251, 100, 122)
}

#feature-list {
  display: flex;
  justify-content: center;
}

#section-video {
  margin: 0 auto;
  width: 80%;
  height: 300px;
  text-align: center;
  background-color: rgb(177, 108, 246);
}

#section-pricing {
  margin: 0 auto;
  width: 80%;
  height: 400px;
  background-color: rgb(251, 147, 103)
}
