html, body, ul{  /* reset the user agent setting*/
    margin: 0;
    padding: 0;
}

/* header */
#header {
  margin: 0;
  padding: 0;
  position: fixed;
  display: block;
  width: 100%;
  color: rgb(26, 24, 24);
  background-color: rgb(255, 255, 255);
  z-index: 100; /* cover other relative element */
}

#nav-bar {
  padding: 0 5%;
  height: 100%;
  line-height: 100px;
}

#nav-bar-left {
  height: 100%;
}

#nav-list-left {
  display: flex;
  height: 100%;
  align-items: center;
}

#nav-list-right {
  display: flex;
  flex-direction: row;
}

#nav-bar li {
  font-family: "Fredoka One", sans-serif;
  color: rgb(59, 59, 59);
}

#nav-bar a {
  text-decoration: none;
  color: rgb(59, 59, 59);
}

#nav-bar a:hover {
  color: rgba(59, 59, 59, 0.7);
}

#nav-bar a:visited {
  color: rgb(59, 59, 59);
}

#nav-bar ul {
  margin: 0;  /* reset user agent setting */
  padding: 0;
  list-style: none;
}

#nav-list-right li {
  padding: 0 15px;
  font-size: 1.2em;
}

#nav-bar-left p {
  padding: 10px 5px;
  font-size: 1.5em;
  font-family: "Fredoka One", sans-serif;
  color: rgb(59, 59, 59);
}

#nav-bar-left img {
  padding: 10px 5px;
  height: 80%;
}

.icon {
  display: none;
}

@media (min-width: 577px) {  /* except mobile */
  #header {
    height: 100px;
  }
  #nav-bar-left {
    float: left;
  }
  #nav-bar-right {
    float: right;
  }
  #nav-list-right>li>a {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
  }

  #nav-list-right a:hover {
    color: rgb(0,0,0);
    background-color: rgb(140, 217, 255);
  }
}

/* responsive bigger than mobile and lower than tablet size */
@media (min-width: 577px) and (max-width: 768px) {
  #nav-bar {
    padding: 0 2%;
  }
  #nav-list-left p {
    font-size: 1em;
  }
  #nav-bar-left img {
    height: 50%;
    padding: 25px 10px;
  }

  #nav-list-right {
    display: flex;
  }

  #nav-list-right li {
    font-size: 1em;
  }
}

/* mobile size */
@media (max-width: 576px) {

  #nav-bar {
    line-height: 50px;
  }

  #nav-list-left {
    height: 80px;
    justify-content: center;
  }
  #nav-bar-left img {
    height: 50px;
  }

  #nav-list-right {
    flex-direction: column;
    display:none;
  }
  #nav-list-right li {
    text-align: center;
  }

  .icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

}



/* Main */
#main {
  width: 100%;
  color: rgb(255, 255, 255);
}

@media (max-width: 576px) {
  #main p {
    font-size: 1.2em;
  }
}

#section-hero {
  padding-top: 100px;  /* avoid nav-bar cover the top content of section-hero */
  width: 100%;
  background-color: rgb(140, 217, 255);
  color: rgb(255, 255, 255);
}

@media (min-width: 577px) {
  #section-hero {
    height: 800px;
  }
}

@media (max-width: 576px) {
  #section-hero {
    padding-bottom: 100px;
  }
}

#hero-wrapper {
  margin: 0 auto;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  color: rgb(37, 37, 37);
  font-family: Roboto, sans-serif;
}

@media (min-width: 1200px) {
  #hero-wrapper {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #hero-wrapper {
    display: flex;
    flex-direction: column;
  }
}

.left-hero {
  margin: 0 auto;  /* centralise the image */
  padding: 200px 20px 20px;
}

.left-hero img {
  border-radius: 50%;
}

.right-hero {
  padding: 200px 30px;
  text-align: left;
}

@media (min-width: 1200px) {
  .right-hero {
    padding: 200px 5%;
  }
}
@media (max-width: 768px) {
  .right-hero {
    padding: 20px 30px;
    text-align: center;
  }
}

#hero-intro-title {
  margin: 0;
  font-size: 2.5em;
  font-weight: bold;
}

#hero-intro-description {
  margin: 0;
  padding: 1em 0 1em;
  font-size: 1em;
}

#main-wrapper {
  margin: 0 auto;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);  /* for testing the layout only, can delete once is done */
  text-align: center;
}

#section-feature {
  margin: 0 auto;
  width: 80%;
  background-color: rgb(251, 100, 122)
}

@media (min-width: 1200px) {
  #section-feature {
    width: 60%;
  }
}

@media (max-width: 767px) {
  #section-feature {
    width: 100%;
  }
}

#feature-list {
  margin: 0px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  #feature-list {
    padding: 50px 20px;
  }
}

.feature-item {
  padding: 40px 20px;
  display: flex;
  list-style-type: none;
  text-align: left;
}

.feature-icon img {
  padding: 20px 0;
  width: 100px;
}

.feature-desc {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  .feature-item {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .feature-icon img{
    min-width: 40%;
    max-width: 50%;
  }

  .feature-desc p {
    font-size: 1.2em;
  }
}

#section-video {
  margin: 50px auto;
  width: 80%;
  text-align: center;
}

@media (min-width: 1200px) {
  #section-video {
    width: 60%;
  }
}

@media (max-width: 767px) {
  #section-video {
    width: 100%;
  }
}

iframe {
  width: 60vw;  /* origin ratio 1.778 of 16:9 */
  height: 40vw;
}

@media (min-width: 1200px) {
  iframe {
    width: 40vw;
    height: 22.5vw;
  }
}

@media (max-width: 767px) {
  iframe {
    width: 100vw;
    height: 56.24vw;
  }
}

#section-pricing {
  margin: 0;
  padding: 150px 0;
  width: 100%;
  background-color: rgb(255,192,203);
}

@media (max-width: 576px) {
  #section-pricing {
    padding: 50px 0;
  }
}

#section-pricing-title {
  color: rgb(0, 0, 0);
  font-size: 2.5em;
  font-weight: bold;
  font-family: "Fredoka One", sans-serif;
}

#pricing-wrapper {
  margin: 0 auto;
  padding: 50px 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  #pricing-wrapper {
    max-width: 1200px;
  }
}

@media (max-width: 767px) {
  #pricing-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
}

.pricing-item {
  margin: 10px 5px;
  padding: 10px 4%;
  position: relative;  /* must apply this that the child item can change adapt their position */
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 400px;
  text-align: center;
}

@media (max-width: 767px) {
  .pricing-item {
    padding: 10px 5%;
    height: 300px;
  }
}

.pricing-item div {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}

.pricing-item button {
  padding: 10px 30px;
  border: solid 1px rgb(103, 189, 251);
  border-radius: 3px;
  color: rgb(251, 251, 251);
  background-color: rgb(103, 189, 251);
  font-size: 1em;
  cursor: pointer;
}

.pricing-item button:hover {

  border: solid 2px rgb(103, 189, 251);
  color: rgb(0,0,0);
  background-color: rgb(255, 255, 255);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.pricing-item-price {
  font-size: 1.5em;
  font-weight: bold;
}

@media (max-width: 767px) {
  .pricing-item {
    width: 80%;
  }
}

#section-form {
  padding: 100px 10px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

#section-form-title {
  font-size: 2.5em
}

#section-form label {
  display: block;
  font-size: 1.5em;
}

#section-form input {
  margin: 10px 5px;
  padding: 10px;
}

@media (max-width: 787px) {
  #section-form input {
    display: block;
    margin: 10px auto;
  }
}

#email {
  min-width: 300px;
  border: solid 1px #ccc;
  border-radius: 2px;
  font-size: 1em;
}

#submit {
  width: 100px;
  border: solid 1px rgb(103, 189, 251);
  border-radius: 3px;
  color: rgb(251, 251, 251);
  background-color: rgb(103, 189, 251);
  font-size: 1em;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(66, 172, 251);
}

/* Footer */
#footer {
  margin:0 auto;
  padding: 40px 0;
  width: 100%;
  color: rgb(0,0,0);
  background-color: rgb(107, 236, 96);
  text-align: center;
}

#footer-copyright {
  padding: padding: 50px;
}
